{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}  
{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}
        {# Looping through posts using a for loop in Django #}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}

{% comment %}including pagination {% endcomment %}
{% include "pagination.html" with page=page %}
{% comment %} The {% include %} template tag loads the given template and renders it using the current template
context. {% endcomment %}

{% endblock %}


{% comment %} With the {% extends %} template tag, you tell Django to inherit from the blog/base.html template.
Then, you fill the title and content blocks of the base template with content. You iterate through
the posts and display their title, date, author, and body, including a link in the title to the detail URL
of the post. We build the URL using the {% url %} template tag provided by Django. {% endcomment %}